<h1>Welcome to Super Music Database Magic!</h1>
<br>
<h2>Please enter your email and set your password.</h2>
<br>
<form action="/users" method="post">
  <label for="email">Email</label>
  <input type="text" name="user[email]">
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Sign Up!">
</form>
