/* PHASE 4: Footer */

.footer {
  width: 900px;
  margin: auto;
  border: 1px solid #ccc;
  background: #fff;
  color: #aaa;
}

.footer-copy {
  float: left;
  padding: 20px;
}

.footer-links {

}

.footer-links > li {
  float: right;
  padding: 20px;
}

.footer a {

}

.footer a:hover {
  color: #000;
}
